.form_h_text {
  color: #1e293b;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  position: relative;
}
.form_h_text::before {
  content: "";
  clip-path: path(
    "M59.014.896c-1.396-.16-2.793-.28-4.19-.417-.46-.047-.923-.048-1.384-.072-1-.053-2-.1-3-.154-.557-.028-1.116-.062-1.672-.086q-.242-.009-.485-.01c-.362 0-.725.008-1.088.012-1.65-.003-3.302.003-4.952 0-.394 0-.786.018-1.18.027-.974.021-1.946.047-2.917.069-1.099.026-2.194.033-3.293.087-1.776.08-3.55.166-5.327.247-1.029.049-2.056.075-3.085.152q-2.656.204-5.313.4c-.967.073-1.936.132-2.903.237-1.832.197-3.664.389-5.495.586-.98.105-1.958.182-2.935.343l-5.471.897-1.183.193c-.788.129-1.571.332-2.357.503q-.074.022-.148.037a.64.64 0 0 0-.246.278c-.103.2-.164.479-.164.762s.059.563.161.767c.093.182.255.35.393.317.949-.207 1.894-.424 2.845-.58l2.641-.433 2.88-.47c.387-.064.774-.147 1.163-.188q2.247-.239 4.492-.47c.934-.101 1.868-.197 2.801-.298.385-.041.772-.092 1.159-.124q2.225-.168 4.45-.322c.9-.063 1.799-.132 2.699-.195.303-.023.604-.05.907-.064q2.403-.106 4.807-.205c.895-.04 1.788-.076 2.683-.116.318-.014.638-.037.956-.04l4.956-.09c1.032-.021 2.06-.038 3.092-.032 1.755.013 3.51.02 5.262.033.346 0 .693.029 1.039.053l2.905.172 2.18.13c.515.028 1.028.103 1.544.16q2.275.239 4.545.514c.384.047.769.104 1.153.16.413.057.826.118 1.236.207q.096.028.191.07c.162.065.318.047.464-.115.134-.154.234-.41.278-.702.087-.613-.103-1.269-.418-1.441-.277-.15-.563-.21-.847-.267-.196-.037-.39-.08-.585-.117-.375-.075-.752-.113-1.126-.17-.705-.103-1.411-.164-2.118-.245z"
  );
  background-color: rgb(139, 92, 246);
  width: 63px;
  height: 9px;
  position: absolute;
  bottom: -8px;
  left: 44px;
}

.form_par {
  background-color: #fff;
  border: 1px solid #cbd5e1;
  border-radius: 16px;
  flex-direction: column;
  width: 500px;
  height: 620px;
  padding: 16px 42px 28px;
  display: flex;
  overflow: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
}

.txt_img_con {
  flex: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  display: flex;
}
#c_002A4B,
#c_006EC6 {
  fill: #fff;
}
@media screen and (max-width: 479px) {
  .form_h_text {
    color: #334155;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
  .form_id {
    min-height: 300px;
  }
  .form_par {
    border-style: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height: auto;
    padding: 16px 16px 0px;
    order: 1;
  }
  #c_002A4B {
    fill: #002a4b;
  }
  #c_006EC6 {
    fill: #006ec6;
  }
  .form_h_text::before {
    left: 32px;
  }
}
